snippets/generate_from_schema.json
[{"id":"fc499034.6c342","type":"inject","z":"f7ff0a15.830fe8","name":"generate","topic":"","payload":"{\"type\":\"object\",\"properties\":{\"userId\":{\"type\":\"string\",\"chance\":\"guid\"},\"emailAddr\":{\"type\":\"string\",\"chance\":{\"email\":{\"domain\":\"fake.com\"}},\"pattern\":\".+@fake.com\"}},\"required\":[\"userId\",\"emailAddr\"]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":180,"y":280,"wires":[["86d8e823.fa50e8"]]},{"id":"86d8e823.fa50e8","type":"npm","z":"f7ff0a15.830fe8","name":"","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"json-schema-faker","module_style":"cstr","msg_payload":"return_val","function_name":"jsf","x":410,"y":280,"wires":[["80d509eb.b7ec38"]]},{"id":"80d509eb.b7ec38","type":"debug","z":"f7ff0a15.830fe8","name":"","active":true,"console":"false","complete":"false","x":650,"y":280,"wires":[]}]
