snippets/get_query_string.json
[{"id":"6d6407f1.3e8ec8","type":"inject","z":"97babaa7.643448","name":"search","topic":"quilting","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114.52430725097656,"y":193.97222232818604,"wires":[["2a66d642.6debda"]]},{"id":"2ecc2258.2504fe","type":"http request","z":"97babaa7.643448","name":"","method":"GET","ret":"txt","url":"https://www.googleapis.com/books/v1/volumes?q={{{query}}}","tls":"226af9c6.b0e946","x":546.5208549499512,"y":337.3472366333008,"wires":[["47a981f6.96232"]]},{"id":"47a981f6.96232","type":"debug","z":"97babaa7.643448","name":"","active":true,"console":"false","complete":"true","x":725.5277709960938,"y":426.82293701171875,"wires":[]},{"id":"2a66d642.6debda","type":"change","z":"97babaa7.643448","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":313.5243225097656,"y":266.1354293823242,"wires":[["2ecc2258.2504fe"]]},{"id":"226af9c6.b0e946","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]
