snippets/post_comment.json
[{"id":"da6858ff.9298a8","type":"inject","z":"3b6a3e82.ed7102","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":200,"wires":[["4deea820.135fc8"]]},{"id":"ed1ebcd1.2d40a","type":"http request","z":"3b6a3e82.ed7102","name":"POST comments","method":"POST","ret":"txt","url":"http://localhost:3000/comments","tls":"","x":470,"y":360,"wires":[["e5b8b656.10a358"]]},{"id":"86518b2f.261418","type":"debug","z":"3b6a3e82.ed7102","name":"","active":true,"console":"false","complete":"true","x":730,"y":520,"wires":[]},{"id":"e5b8b656.10a358","type":"json","z":"3b6a3e82.ed7102","name":"","pretty":false,"x":590,"y":440,"wires":[["86518b2f.261418"]]},{"id":"4deea820.135fc8","type":"change","z":"3b6a3e82.ed7102","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"id\":2,\"body\":\"another comment\",\"postId\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":280,"wires":[["ed1ebcd1.2d40a"]]}]
